doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        meta(
            name='viewport',
            content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'
        )
        meta(
            http-equiv='X-UA-Compatible',
            content='ie=edge'
        )
        block seo
            meta(
                name='description'
                content='GOODdler - donate gifts as a donation! GOODdler is social enterprise committed to creating a more generous world by tapping into the growing market of online giving and focusing on younger generation that seeks concrete results from its gifts. Our international platform allows charities to post specific items needed to achieve organization’s goals for supporters to purchase. Items will be delivered by local distributors and received directly by charity without any monetary exchange and administrative costs.'
            )
            meta(
                name='keywords'
                content='donate gifts, donating gifts, donating gifts to charity, donating gifts to children, donating gifts to pets, charitable giving, donating gifts to homeless shelters, donating gifts to seniors'
            )
            block title
                title GOODdler | DO GOOD, donate gifts, be GOODdler
    body
        block content


